.banner-wrapper {}

.banner-container {
    margin: 100px 50px;
    display: flex;
    justify-content: space-around;
}
.banner-container img {
    height: 30px;
    width:auto;
}

@media only screen and (max-width: 900px) {
    .banner-container{
        
        display: grid;
        gap: 20px;
        grid-template-columns: auto auto auto;
    }
}